 .clock-loader {
    --clock-color: var(--primary-color);
    --clock-width: 4rem;
    --clock-radius: calc(var(--clock-width) / 2);
    --clock-minute-length: calc(var(--clock-width) * 0.4);
    --clock-hour-length: calc(var(--clock-width) * 0.2);
    --clock-thickness: 0.2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--clock-width);
    height: var(--clock-width);
    border: 3px solid var(--clock-color);
    border-radius: 50%;
  }
  .clock-loader::before, .clock-loader::after {
    position: absolute;
    content: "";
    top: calc(var(--clock-radius) * 0.25);
    width: var(--clock-thickness);
    background: var(--clock-color);
    border-radius: 10px;
    transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
    animation: spin infinite linear;
  }
  .clock-loader::before {
    height: var(--clock-minute-length);
    animation-duration: 2s;
  }
  .clock-loader::after {
    top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
    height: var(--clock-hour-length);
    animation-duration: 15s;
  }
  
  @keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }

  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");

.dots {
  display: inline-flex;
}
.dots--animate .dot.z {
  -webkit-animation: scale 0.8s 0.2s forwards;
          animation: scale 0.8s 0.2s forwards;
}
.dots--animate .dot.f, .dots--animate .dot.s {
  -webkit-animation: right 0.5s forwards;
          animation: right 0.5s forwards;
}
.dots--animate .dot.l {
  -webkit-animation: rightDown 0.4s 0.1s forwards linear, drop 2s 0.4s forwards linear;
          animation: rightDown 0.4s 0.1s forwards linear, drop 2s 0.4s forwards linear;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #212121;
  border-radius: 10px;
  position: relative;
  margin-left: 6px;
}
.dot.z {
  position: absolute;
  transform: scale(0);
}
@-webkit-keyframes scale {
  100% {
    transform: scale(1);
  }
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
.dot.f, .dot.s {
  transform: translateX(0px);
}
@-webkit-keyframes right {
  100% {
    transform: translateX(16px);
  }
}
@keyframes right {
  100% {
    transform: translateX(16px);
  }
}
.dot.t {
  background: transparent;
}
.dot .l {
  margin-left: 0;
  position: absolute;
  top: 0;
  left: 0;
}
@-webkit-keyframes rightDown {
  50% {
    top: 4px;
    left: 16px;
  }
  100% {
    top: 12px;
    left: 24px;
  }
}
@keyframes rightDown {
  50% {
    top: 4px;
    left: 16px;
  }
  100% {
    top: 12px;
    left: 24px;
  }
}
@-webkit-keyframes drop {
  100% {
    transform: translate(70px, calc(35px + (100vh/2)));
  }
}
@keyframes drop {
  100% {
    transform: translate(70px, calc(35px + (100vh/2)));
  }
}

.abs-twitter {
  position: fixed;
  right: calc(24px + .6vw);
  top: calc(22px + .6vw);
  transform: translate(-8px, 4px);
  opacity: 0;
  transition: 0.3s ease-in;
}
.abs-twitter--show {
  transform: translate(0, 0);
  opacity: 1;
  -webkit-animation: birdie 1s 0.8s linear infinite;
          animation: birdie 1s 0.8s linear infinite;
}
@-webkit-keyframes birdie {
  13% {
    transform: rotate(14deg);
  }
  26% {
    transform: rotate(28deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes birdie {
  13% {
    transform: rotate(14deg);
  }
  26% {
    transform: rotate(28deg);
  }
  100% {
    transform: rotate(0deg);
  }
}